# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# PyTorch checkpoints
# ==========================================
*.pth
*.pt
checkpoints/
weights/
runs/

# ==========================================
# TensorBoard
# ==========================================
events.out.tfevents.*
logs/

# ==========================================
# Dataset
# ==========================================
data/
archive/

# ==========================================
# Images generated during training
# ==========================================
plots/
results/
figures/

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.log